In [40]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression

In [27]:
df  = pd.read_csv('./iris.csv')

In [28]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [29]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [30]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [31]:
df['Species'].replace({'Iris-setosa' : '1', 'Iris-versicolor' : '2', 'Iris-virginica' : '3'}, inplace = True)

In [32]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0      1            5.1           3.5            1.4           0.2       1
1      2            4.9           3.0            1.4           0.2       1
2      3            4.7           3.2            1.3           0.2       1
3      4            4.6           3.1            1.5           0.2       1
4      5            5.0           3.6            1.4           0.2       1
..   ...            ...           ...            ...           ...     ...
145  146            6.7           3.0            5.2           2.3       3
146  147            6.3           2.5            5.0           1.9       3
147  148            6.5           3.0            5.2           2.0       3
148  149            6.2           3.4            5.4           2.3       3
149  150            5.9           3.0            5.1           1.8       3

[150 rows x 6 columns]

In [33]:
df['Species'].unique()

array(['1', '2', '3'], dtype=object)

In [36]:
x_train,x_test, y_train,y_test = train_test_split(df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']], df ['Species'],test_size =  0.2)

In [37]:
x_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
60             5.0           2.0            3.5           1.0
54             6.5           2.8            4.6           1.5
51             6.4           3.2            4.5           1.5
91             6.1           3.0            4.6           1.4
55             5.7           2.8            4.5           1.3
..             ...           ...            ...           ...
29             4.7           3.2            1.6           0.2
30             4.8           3.1            1.6           0.2
79             5.7           2.6            3.5           1.0
72             6.3           2.5            4.9           1.5
111            6.4           2.7            5.3           1.9

[120 rows x 4 columns]

In [47]:
reg = LogisticRegression()

In [49]:
reg.fit(x_train,y_train)

C:\Users\Danya\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [51]:
reg.predict(x_test)

array(['2', '2', '2', '1', '1', '2', '1', '3', '2', '3', '1', '2', '1',
       '1', '1', '3', '1', '1', '3', '3', '1', '3', '2', '3', '1', '2',
       '3', '1', '1', '3'], dtype=object)